.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  align-items: start;
}

@media (min-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    align-items: start;
  }
}
